<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Weather App</h1>

        <form action="/weather" method="post">
            <label>Enter city name:</label>
            <input type="text" name="city" required>
            <button>Search</button>
        </form>

        <% if (typeof error !='undefined' ) { %>
            <div class="weather-card">
                <h3>
                    <%= error %>
                </h3>
            </div>
            <% } %>
                <% if (weather) { %>
                    <div class="weather-card">
                        <h2>
                            <%= weather.name %>, <%= weather.sys.country %>
                        </h2>

                        <img src="https://openweathermap.org/img/wn/<%= weather.weather[0].icon %>@4x.png"
                            alt="Weather Icon">

                        <h1 class="temp">
                            <%= Math.round(weather.main.temp) %>°C
                        </h1>

                        <p class="condition">
                            <%= weather.weather[0].main %>
                        </p>

                        <div class="weather-details">
                            <div>
                                <span>Humidity</span>
                                <strong>
                                    <%= weather.main.humidity %>%
                                </strong>
                            </div>

                            <div>
                                <span>Wind</span>
                                <strong>
                                    <%= weather.wind.speed %> m/s
                                </strong>
                            </div>
                        </div>
                    </div>
                    <% } %>
</body>

</html>